


  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden" >
    <div class="flex flex-column align-items-center justify-content-center" >
        <img src="assets/img/logo-upperlink.png" alt="Sakai logo" class="mb-5 w-30rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
           
                    <div class="text-900 text-3xl font-medium mb-3">Welcome in Sauron EYE</div>
                    <span class="text-600 font-medium">Sign in with Microsoft</span>
                   
                </div>
                <div>
                  <form ngNoForm method="post" [action]="action">
                    <!-- Connexion -->
                    <button pButton  pRipple type="submit" class="w-full p-3 text-xl" name="provider" value="OpenIdConnect">
                      <!-- <ng-icon name="feather-cloud" class="me-1" /> -->
                      Se connecter avec Microsoft
                    </button>
            
                    <!-- <button pButton pRipple label="Sign In" type="submit" class="w-full p-3 text-xl" value="OpenIdConnect" ></button> -->
                    <!-- <button type="submit" class="w-full p-3 text-xl" [disabled]="loading">Login with Azure</button> -->
                  
                    </form>
                 
                </div>
          
            </div>
        </div>
    </div>
</div>
