@model OeuilDeSauron.Domain.Identity.ResetPasswordEmail

@{ Layout = null; }

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Pulvés</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h2>Bonjour @Model.FirstName @Model.LastName,</h2>
<p>Veuillez cliquer sur le lien suivant afin de saisir votre nouveau mot de passe</p>
<a href="@Model.Url">Réinitialiser votre mot de passe</a>
<p>Cet email est automatique. Merci de ne pa répondre.</p>
<br /><br />
Cordialement,
<br/>
  L'équipe OTC-Pulvés
</body>
</html>
